In [4]:
import os
from dotenv import load_dotenv
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

load_dotenv()
SERVICE_KEY = os.getenv('SERVICE_KEY')

In [13]:
'''
df=None
for i in range(1,75):
    URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{1+(i-1)*1000}/{i*1000}/'
    print(URL)
    req= requests.get(URL)
    content=req.json()
    result=pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
    df=pd.concat([df,result])
df=df.reset_index(drop=True)
df
'''

"\ndf=None\nfor i in range(1,75):\n    URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{1+(i-1)*1000}/{i*1000}/'\n    print(URL)\n    req= requests.get(URL)\n    content=req.json()\n    result=pd.DataFrame(content['tbLnOpendataRtmsV']['row'])\n    df=pd.concat([df,result])\ndf=df.reset_index(drop=True)\ndf\n"

In [14]:
df.to_csv('1-75.csv', index=False)

In [17]:
df = pd.read_csv('1-75.csv')
df.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11380,은평구,10700,응암동,1.0,대지,91.0,7.0,CJ드림시티,...,12900,24.84,34.07,15.0,NaN,NaN,2004.0,오피스텔,중개거래,서울 은평구
1,2024,11140,중구,14500,광희동1가,1.0,대지,89.0,1.0,광희동금호트윈 오피스텔,...,9850,21.96,31.13,14.0,NaN,NaN,1999.0,오피스텔,중개거래,서울 중구
2,2024,11740,강동구,10900,천호동,1.0,대지,39.0,9.0,미래위너스,...,26400,29.96,19.16,4.0,NaN,NaN,2016.0,연립다세대,중개거래,서울 강동구
3,2024,11710,송파구,11300,거여동,1.0,대지,605.0,0.0,휴먼빌 시티,...,18000,24.15,35.41,4.0,NaN,NaN,2020.0,오피스텔,중개거래,서울 송파구
4,2024,11530,구로구,10200,구로동,1.0,대지,44.0,8.0,비즈트위트 오렌지,...,15000,20.80,31.43,8.0,NaN,NaN,2013.0,오피스텔,중개거래,서울 영등포구

In [19]:
df.tail()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
73995,2023,11710,송파구,11100,방이동,1.0,대지,50.0,0.0,잠실엘퍼스트오피스텔,...,21000,18.07,30.67,11.0,NaN,NaN,2019.0,오피스텔,중개거래,서울 송파구
73996,2023,11710,송파구,10200,신천동,1.0,대지,17.0,0.0,파크리오,...,165500,84.90,0.00,12.0,NaN,NaN,2008.0,아파트,중개거래,서울 송파구
73997,2023,11710,송파구,10700,가락동,1.0,대지,95.0,1.0,가락금호아파트,...,90000,59.91,0.00,12.0,NaN,NaN,1997.0,아파트,중개거래,서울 송파구
73998,2022,11230,동대문구,10900,휘경동,1.0,대지,183.0,245.0,빌리원,...,10800,15.75,22.53,4.0,NaN,NaN,2014.0,오피스텔,중개거래,서울 동대문구
73999,2023,11305,강북구,10100,미아동,NaN,NaN,NaN,NaN,NaN,...,26000,105.83,66.00,0.0,NaN,NaN,2001.0,단독다가구,중개거래,서울 강북구

In [21]:
df['ACC_YEAR'].value_counts()

2023    68916
2024     4795
2022      289
Name: ACC_YEAR, dtype: int64

In [24]:
df2 = pd.read_csv('376-430.csv', encoding='cp949')
df2

C:\Users\skrtk\AppData\Local\Temp\ipykernel_3268\3442580588.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('376-430.csv', encoding='cp949')

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2020,11215,광진구,10400,광장동,1.0,대지,148,4.0,워커힐푸르지오,...,81000,65.66,0.00,3,NaN,NaN,1987.0,아파트,NaN,NaN
1,2020,11320,도봉구,10700,창동,1.0,대지,819,0.0,태영데시앙,...,70500,85.00,0.00,18,NaN,NaN,2003.0,아파트,NaN,NaN
2,2020,11380,은평구,10200,녹번동,1.0,대지,95,16.0,효진빌라,...,20600,55.73,26.42,4,NaN,20200914.0,1996.0,연립다세대,NaN,NaN
3,2020,11290,성북구,13300,정릉동,1.0,대지,1031,0.0,정릉힐스테이트3차,...,68800,84.97,0.00,1,NaN,NaN,2008.0,아파트,NaN,NaN
4,2020,11230,동대문구,10600,장안동,1.0,대지,336,0.0,장안현대홈타운(336),...,85500,84.87,0.00,11,NaN,NaN,2003.0,아파트,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92995,2020,11680,강남구,11800,도곡동,1.0,대지,895.0,8.0,한신엠비씨,...,200000,117.57,0.00,14,NaN,NaN,1988.0,아파트,NaN,NaN
92996,2019,11560,영등포구,13200,신길동,1.0,대지,102.0,8.0,우성4,...,70000,75.36,0.00,11,NaN,NaN,1991.0,아파트,NaN,NaN
92997,2020,11560,영등포구,12900,양평동5가,1.0,대지,76.0,0.0,한신,...,64500,59.94,0.00,11,NaN,NaN,1996.0,아파트,NaN,NaN
92998,2020,11290,성북구,13700,상월곡동,1.0,대지,55.0,56.0,우남푸르미아,...,34000,59.64,0.00,2,NaN,NaN,1994.0,아파트,NaN,NaN
92999,2020,11650,서초구,10600,잠원동,1.0,대지,63.0,34.0,한신로얄,...,182000,81.05,0.00,12,NaN,NaN,1992.0,아파트,NaN,NaN